@import "../../components/styles/normalize.scss";

.button {
    @include primaryButton;
    display: flex;
    max-width: 10em;
}

.button a {
    display: flex;
}

.button:hover {
    background-color: $green003;
    transform: scale(1.05);
    transition: all .5s;
}