@import "../components/styles/normalize.scss";

.container {
    width: 100%;
    max-width: 100%;
    height: 6em;
    display: block;
    flex-flow: row wrap;
    opacity: .8;
    z-index: 3;
    bottom: 0;
    position: relative;
}


.divider1 {
    height: .3em;
    background-color: $green003;
}
.divider2 {
    height: .3em;
    background-color: $yellow003;
}

.divider3 {
    height: .3em;
    background-color: $red001;
}
.nav {
    max-width: 1060px;
    display: flex;
    flex-flow: row nowrap;
    height: 10em;
    margin: auto;
}

.footerIcon img {
    position: relative;
    max-height: 5em;
    max-width: 5em;
    right: 0;
}

.footerIcon {
    display: flex;
    max-height: 5em;
    place-items: end;
}

.owies {
    display: flex;
    flex-flow: column nowrap;
    align-content: end;
    color: white;
    padding-right: 1em;
}

.links {
    list-style: none;
    padding: 1em;
    margin: 0;
    height: 6em;
}

.headerLogo {
    display: flex;
    align-content: start;
    place-self: center;
    padding-left: 2em;
    height: 6em;
}

.headerLogo img {
    width: 3em;
}
.nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
}




@media screen and (min-width: $small-break) {



}