@import "../components/styles/normalize.scss";

.container {
    width: 100%;
    max-width: 100%;
    max-height: 6em;
    background-color: $dark004;
    display: flex;
    flex-flow: row wrap;
    opacity: .8;
    z-index: 3;
}

.links {
    list-style: none;
    padding: 1em;
    margin: 0;
}

.headerLogo {
    display: flex;
    max-width: 10em;
    max-height: 4em;
    align-content: start;
    place-self: center;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.links {
    display: none;
}

@media screen and (min-width: $small-break) {

    .links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    }

}