@import "../components/styles/variables.scss";

.container {
    width: 100%;
    max-width: 100%;
    height: 6em;
    @include solidGradient;
    display: block;
    flex-flow: row wrap;
    opacity: .8;
    z-index: 1000;
    position: relative;
}

.nav {
    max-width: 1060px;
    display: flex;
    height: 6em;
    margin: auto;

}

.links {
    list-style: none;
    padding: 1em;
    margin: 0;
    height: 6em;
    display: none;
    padding-bottom: 1em;
}


.smallLinksExpanded {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    justify-content: end;
    list-style: none;
    padding: 1em;
    margin: 0;
    height: 6em;
    z-index: 1000;
    background-color: $green001;
}

.smallLinksCollapsed {
    display: none;
}

.smallLink {
    text-align: right;
}

.menuButton {
    color: $white001;
    align-self: center;
    padding-right: .5em;
    background-color: rgba(255, 255, 255, 0);
}

.menuButton:hover {
    color: $white001;
    align-self: center;
    border: none;
    padding-right: .5em;
    background-color: rgba(255, 255, 255, 0);
}

.menuButton:active {
    color: $white001;
    border: none;
    align-self: center;
    padding-right: .5em;
    background-color: rgba(255, 255, 255, 0);
}

.menuButton:visited {
    color: $white001;
    border: none;
    align-self: center;
    padding-right: .5em;
    background-color: rgba(255, 255, 255, 0);
}

.headerLogo {
    display: flex;
    align-content: start;
    place-self: center;
    padding-left: 2em;
    height: 6em;
}

.headerLogo img {
    width: 3em;
}
.nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
}




@media screen and (min-width: $small-break) {

    .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3em;
    place-items: center;
    }

    .smallLinks {
        display: none;
    }

    .menuButton {
        display: none;
    }

}