@import "../components/styles/normalize.scss";


h2 {
    margin-bottom: 0;
}


.title {
    width: 100%;
    display: flex;
}

.title img {
    width: 100%;
}




.vendorText {
    display: flex;
    flex-flow: column nowrap;
    grid-area: g;
    margin-top: -3em;
}

.donationText {
    display: flex;
    flex-flow: column nowrap;
    grid-area: d;
}

.container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    'a'
    'b'
    'c'
    'd'
    'e'
    'f'
    'g'
    'h';
}

.SVGs {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.svg {
max-width: 100%;
height: 5em;
}





@media screen and (max-width: $small-break) {
.image {
    @include fullWidth;
}

.image1 {
    @include fullWidth;
    grid-area: a;
}

.heroOne {
    grid-area: a;
    z-index: 3;
    align-self: end;
    background-color: rgba(0, 0, 0, 0.571);
    @include fullWidth;
}

.subtitle {
    padding-left:1em;
    padding-right: 1em;
}
.image__karen {
    @include fullWidth;
    max-height: 20em;
}

}
@media screen and (min-width: $small-break) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'a b'
        'x x'
        'c d'
        'e f'
        'g h'
        'i i';
    }
    .heroOne {
        grid-area: a;
    }
    .blurb {
        grid-area: x;
    }

    .vendorText {
        grid-area: e;
        margin-top: 0em;
    }

    .donationText {
        grid-area: f;
    }
    .image {
        grid-area: c;
    }

    .SVGs {
        grid-area: d;
    }
    .karen {
        grid-area: g;
    }
    .sponsoredBy {
        grid-area: i;
    }
}

@media screen and (min-width: $medium-break) {


    .blurb {
        grid-area: a;
        margin-top: 12em;
    }

}

@media screen and (min-width: $large-break) {


    .blurb {
        grid-area: a;
        margin-top: 10em;
    }

}