@import "../components/styles/normalize.scss";


h2 {
    margin-bottom: 0;
}


.title {
    width: 100%;
    display: flex;
}

.bandSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;
}

.subtitle {
    max-width: 20em;
}
.bandP {
    margin-top: -1em;
}

.band {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
}

.bandImage {
    max-width: 10em;
}

.bandInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.bandInfo a {
    color: $yellow004;
    text-decoration: underline;
    font-weight: 700;
}




@media screen and (max-width: $small-break) {
.image {
    @include fullWidth;
}

.image1 {
    @include fullWidth;
    grid-area: a;
}

.heroOne {
    grid-area: a;
    z-index: 3;
    align-self: end;
    background-color: rgba(0, 0, 0, 0.571);
    @include fullWidth;
}



.subtitle {
    padding-left:1em;
    padding-right: 1em;
}


}
@media screen and (min-width: $small-break) {


}

@media screen and (min-width: $medium-break) {
.newSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}


}

@media screen and (min-width: $large-break) {

.newSection {
    grid-gap: 4em;
}


}