@import "../components/styles/normalize.scss";

html {
    background-color: $dark001;
    overflow-x: hidden;
}

.main {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.container {
    padding: 1em;
    margin: 1em;
    color: $white001;
}
