@import "../components/styles/normalize.scss";

html {
    background: 
    url(../images/bgFront.jpg),
    url(../images/bgBack.jpg),
    url(../images/bgTexture3.jpg),
    $red002;
    overflow-x: hidden;
    background-attachment: fixed, scroll, fixed;
    background-size: contain, contain, contain;
    background-blend-mode: darken,
    normal,
    multiply;
}


.main {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.container {
    padding: 0em 1em 1em 1em;
    margin: 0em 0em 0em 0em;
    color: $white001;
}




@media screen and (min-width: $small-break) {

.container {
    padding: 0em 1em 1em 1em;
    margin: 0em 1em 1em 1em;
    color: $white001;
}

}
