@import "../components/styles/normalize.scss";

html {
    background-color: $blue002;
    overflow-x: hidden;
    background-attachment: fixed;
    background-size: contain;
}

.bannerContainer {
    background-color: black;
    display: flex;
    justify-content: center;
    height: auto;
}

.bannerLG {
    width: 100%;
    margin: auto;
    display: none;

}

.bannerMD {
    width: 100%;
    margin: auto;
    display: none;
}

.bannerSM {
    width: 100%;
    margin: auto;
}


.main {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

.container {
    padding: 0em 1em 1em 1em;
    margin: 0em 0em 0em 0em;
    color: $white001;
    z-index: 0;
}




@media screen and (min-width: $small-break) {

.container {
    padding: 0em 1em 1em 1em;
    margin: 0em 1em 1em 1em;
    color: $white001;
}

.bannerSM {
    display: none;
}

.bannerMD {
    display: block;
}

}

@media screen and (min-width: $medium-break) {
.banner {
    width: 100%;
}
.bannerSM {
    display: none;
}

.bannerMD {
    display: none;
}

.bannerLG {
    display: block;
}

}

@media screen and (min-width: $large-break) {

    .container {
        padding: 0em 1em 1em 1em;
        margin: auto;
        max-width: 1260px;
    }
    .banner {
        width: 100%;
    }

}

